.side-bar
  .side-bar__header
    .side-bar__header__contents
      %h.side-bar__header__contents__name 
        = current_account.name
      .side-bar__header__contents__icons
        =link_to new_group_path ,class: "side-bar__header__contents__icons__edit" do
          = icon("fa", "edit")
        =link_to edit_account_path(current_account) ,class:"side-bar__header__contents__icons__cog" do
          = icon("fa", "cog")
  .side-bar__groups
    - current_account.groups.each do |group|
      .side-bar__groups__group
        = link_to group_messagexxes_path(group),class:"side-bar__groups__group" do
          %p.group-name
            = group.name
          %p.group-message
            = group.show_last_message